/* CSS by Mackenzie Stegink */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: "Merriweather", serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
  font-size: 16px;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link {
  color: var(--truth-text);
  background-color: white;
  font-weight: 700;
  left: 30%;
  padding: 5px;
  position: absolute;
  transition: transform 0.3s;
  transform: translateY(-3000%);
}
.skip-link:focus {
  transform: translateY(0%);
}

.mobile-nav {  
  position: relative;
  overflow: visible;
}
.menu-button {  
  display: block;  
  width: 95%;
  background: var(--news-flash);  
  color: var(--watchdog-white);  
  padding: 16px;  
  cursor: pointer;  
  text-align: center;
  font-weight: 500;
  border: 1px solid var(--news-flash);
  font-family: var(--font-body);
  text-transform: uppercase;
  margin: 0 auto;
}
.menu { 
  position:absolute;  
  top: 100%;  
  left: 0;
  width: 100%;
  z-index: 9999; 
  list-style: none;  
  margin: 0;  
  padding: 0;  
  display: none;  
  background: var(--news-flash);
  border: 1px solid var(--blue-bulletin);
  font-family: var(--font-body);
  text-transform: uppercase;
}
.menu li a {  
  font-family: var(--font-body);
  gap: 1rem;
  display: block;  
  padding: 10px;  
  color: var(--watchdog-white);  text-decoration: none;
  border-top: 1px solid var(--blue-bulletin);
}

#menu-toggle:checked + .menu-button + .menu {  
  display: block;
  
}
.menu li a:hover {  
  background: var(--blue-bulletin);
}
.menu-button:hover {  
  background: var(--blue-bulletin);
}
/* ///ADD/// Global Layout Styles */

main {
  max-width: 95%;
  margin: 0 auto;
}
header {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  font-family: var(--font-heading);
  padding: 20px;
}
#main-content {
  padding: 20px 0;
}
.featured {
  transition: var(--transition);
  box-shadow: var(--shadow);
  border: 1px solid var(--story-subtitle);
  margin: 8px;
  padding: 20px;
}
.featured:hover {
  transform: scale(1.03);
  cursor: grab;
}
.featured hr {
  border: none;
  border-top: 1px solid var(--story-subtitle);
}
header .tagline {
  font-weight: 500;
  padding: 20px 0;
  font-variation-settings: "wdth" 75;
}
main .tagline {
  font-family: var(--font-heading);
  font-size: 1rem;
  text-align: center;
  
  font-variation-settings: "wdth" 75;
  padding: 20px;
}

.breaking {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  font-family: var(--font-heading);
  font-size: 1.25rem;
  padding: 10px;
  border: 1px solid var(--blue-bulletin);
  margin: 8px;
  line-height: 1.5;
  box-shadow: var(--shadow);
}
.breaking p {
  font-family: var(--font-body);
  font-size: 1rem;
}
form {
  display: block;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: var(--shadow);
}
fieldset {
  border: 1px solid var(--blue-bulletin);
  padding: 0;
  margin: 10px;
  color: var(--watchdog-white);
}
fieldset legend {
  text-transform: uppercase;
  font-weight: 500;
}
form input[type="text"], form input[type="tel"] {
  padding: 10px;
  border: 1px solid var(--blue-bulletin);
  margin-right: 10px;
  width: 95%;
  margin-bottom: 20px;
}
form button {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  width: 95%;
  margin: 0 auto;
  display: block;
}
form input[type="checkbox"] {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  padding-bottom: 20px;
}
.checkboxes {
  display: flex;
  align-items: center;
}
footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 20px;
}
footer h2 {
  padding-bottom: 10px;
}
footer a {
  display: inline-block;
  color: var(--watchdog-white);
  text-decoration: none;
  background-color: var(--news-flash);
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px;
}
footer a:hover {
  border: 1px solid var(--news-flash);
  padding: 10px 20px;
  background-color: var(--blue-bulletin);
  transition: var(--transition);
}
footer p {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 10px auto;
}
#subscribe-description {
  padding-bottom: 20px;
}
/* ///ADD/// Global Text Styles */
p {
  line-height: 1.15;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
  color: var(--watchdog-white);
  font-weight: 300;
}
h2 {
  font-size: 1.25rem;
  font-family: var(--font-heading);
  font-weight: 300;
  line-height: 1.5;
  padding: 10px 0;
}
h3 {
  font-size: 1.1rem;
  font-family: var(--font-heading);
  font-weight: 300;
  line-height: 1.5;
}
/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  .blocks, .blocks2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
}
fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
fieldset legend {
  grid-column: span 2;
}
fieldset,
button {
  grid-column: span 2;
}
}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  .blocks2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .menu {
    display: flex !important;
    flex-direction: row;
    position: static;
    gap: 1rem;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
  }
  .menu li a {
    display: flex;
    gap: 1rem;
    border: none;
    padding: 10px 20px;
    background-color: var(--news-flash);
  }
  .menu li a:hover {
    border: 1px solid var(--news-flash);
    padding: 10px 20px;
    background-color: var(--blue-bulletin);
    transition: var(--transition);
  }
  .menu-button {
    display: none;
  }
}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {
  .blocks2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  fieldset {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
fieldset legend {
  grid-column: span 2;
}
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--watchdog-white);
    color: var(--truth-text);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}
@media (prefers-reduced-motion: reduce) {
  body {
    transition: none;
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(.mobile-nav:has(#menu-toggle:checked))) {
  .menu {
    display: none;
  }

  .mobile-nav:has(#menu-toggle:checked) .menu {
    display: block;
  }
}